<h1>Adicionar Exercício</h1>
<form [formGroup]="formStructure" (ngSubmit)="ngSubmit(formStructure)">
  <div style="margin-bottom: 1rem;">
    <p-inputGroup>
      <input pInputText class="formInput" id="descricao" name="descricao" placeholder="Descrição" formControlName="descricao">

      <p-dropdown [style]="{width: '100%'}" class="musculoDropDown" [options]="musculoSelectBoxListItem" formControlName="musculo" id="musculo" name="musculo" placeholder="Musculo"></p-dropdown>
    </p-inputGroup>
  </div>
  <p-inputGroup>
    <input pInputText placeholder="Repetição A" class="formInput" id="repeticaoA" name="repeticaoA" formControlName="repeticaoA" >

    <input pInputText placeholder="Repetição B" class="formInput" id="repeticaoB" name="repeticaoB" formControlName="repeticaoB" >
  </p-inputGroup>

  <p-inputGroup>
    <input pInputText placeholder="Repetição C" class="formInput" id="repeticaoC" name="repeticaoC" formControlName="repeticaoC" >

    <p-dropdown [style]="{width: '100%'}" styleClass="tipoDeTreinoDropDown" placeholder="Tipo de Treino" class="formInput" [options]="tiposDeTreinoDropDown" id="tipoDeTreino" name="tipoDeTreino" formControlName="tipoDeTreino" ></p-dropdown>
  </p-inputGroup>
  <p-button type="submit" label="Salvar"></p-button>
  <p-button routerLink="/exercicio/list" label="Voltar a Lista"></p-button>
  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
</form>
