<h1>Adicionar Exercício</h1>
<form [formGroup]="formStructure" (ngSubmit)="ngSubmit(formStructure)">
  <div style="margin-bottom: 10px">
    <label for="descricao">Descrição: </label><br>
    <input id="descricao" name="descricao" pInputText formControlName="descricao"></div>
    <div *ngIf="formCtrls['descricao'].invalid && (formCtrls['descricao'].dirty || formCtrls['descricao'].touched)">
      <small *ngIf="formCtrls['descricao'].errors?.['required']" style="color: red">A descrição é obrigatória</small><br>
      <small *ngIf="formCtrls['descricao'].errors?.['minlength']" style="color: red" >A descrição não pode ter menos que 7 letras</small><br>
    </div>
  <div style="margin-bottom: 10px">
    <label for="musculo">Musculo: </label><br>
    <p-dropdown [options]="musculoSelectBoxListItem"  id="musculo" formControlName="musculo">
    </p-dropdown>
    <div *ngIf="formCtrls['musculo'].invalid && (formCtrls['musculo'].dirty || formCtrls['musculo'].touched)">
      <small *ngIf="formCtrls['musculo'].errors?.['required']" style="color: red">O musculo é obrigatório</small><br>
    </div>
  </div>
  <p-button type="submit" label="Salvar"></p-button>
  <p-button routerLink="/exercicio/list" label="Voltar a Lista"></p-button>
  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
</form>
