<p-button routerLink="/cliente/form/new" label="Adicionar Cliente"></p-button>
<p-table [value]="clientList" [tableStyle]="{'min-width': '30rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th> </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
    <tr #element>
      <td>{{cliente.nome}}</td>
      <td><p-button routerLink="/cliente/form/detail/{{cliente.id}}" icon="pi pi-pencil" label="Editar"></p-button><p-button icon="pi pi-times" styleClass="p-button-danger" label="Deletar" (click)="deleteCliente(cliente.id)"></p-button></td>
    </tr>
  </ng-template>
</p-table>
<p-messages></p-messages>
<p-dialog header="Erro!" [(visible)]="isVisible" [modal]="true" [draggable]="false" [resizable]="false">
  <p #message></p>
</p-dialog>
