<p-button routerLink="/treino/form" label="Adicionar Treino"></p-button>
<p-button routerLink="/exercicio/list" label="Exercicios"></p-button>
<p-button routerLink="/cliente/list" label="Clientes"></p-button>
<p-table [value]="treinosList" [scrollable]="true">
  <ng-template pTemplate="header" >
    <tr>
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Pertence a</th>
      <th> </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode>
    <tr>
      <td>{{rowNode.tipo}}</td>
      <td>{{rowNode.exercicios}}
      <td>{{rowNode.nome}}</td>
      <td><p-button routerLink="/treino/form/detail/{{rowNode.id}}" label="Editar"></p-button><p-button icon="pi pi-times" styleClass="p-button-danger" (click)="deleteTreino(rowNode.id)" label="Deletar"></p-button> </td>
    </tr>
  </ng-template>
</p-table>
<p-messages></p-messages>
<p-dialog header="Erro!" [(visible)]="isVisible" [modal]="true" [draggable]="false" [resizable]="false">
  <p #message></p>
</p-dialog>
