<h1>Adicionar Treino</h1>
<hr>
<form [formGroup]="formStructure" (ngSubmit)="ngSubmit($event)">
  <p-inputGroup>
    <input pInputText id="nomeDoTreino" class="formInput" name="nomeDoTreino" placeholder="Treino" formControlName="nomeDoTreino">

    <p-multiSelect [style]="{width: '100%'}" [options]="exercicioList" id="exercicio" class="formInput" optionLabel="descricao" placeholder="Exercicios" formControlName="exercicio"></p-multiSelect>
  </p-inputGroup>
  <p-button type="submit" label="Salvar"></p-button>
</form>
