

p-inputGroup{
  .formInput{
    margin: 1rem;
    width: 100%;
  }
}

.formInput {
  margin: 1rem;
  display: flex;
  .pesoDesejadoInput{
    margin-right: 2rem;
    width: 48%;
  }
  .exerciciosList{
    width: 48%;
  }
}
