<h1>Adicionar Cliente</h1>
<hr>
<form [formGroup]="formStructure" (ngSubmit)="ngSubmit(formStructure)">
  <h2>Informações Pessoais</h2>
  <p-inputGroup>
    <input pInputText class="formInput" id="nome" name="nome" placeholder="Nome" formControlName="nome"><br>

    <input pInputText class="formInput" id="altura" placeholder="Altura"  name="altura" formControlName="altura">
  </p-inputGroup>
  <p-inputGroup>
    <input pInputText class="formInput" id="idade" placeholder="Idade" name="idade" formControlName="idade">

    <input pInputText class="formInput" id="pesoAtual" placeholder="Peso Atual" name="pesoAtual" formControlName="pesoAtual">
  </p-inputGroup>
  <div class="formInput">
    <input pInputText class="pesoDesejadoInput" id="pesoDesejado" placeholder="Peso Desejado" name="pesoDesejado" formControlName="pesoDesejado">

  </div>
  <hr>
  <p-button  type="submit">Salvar</p-button>
  <p-button  routerLink="/cliente/list">Voltar a lista</p-button>
  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
</form>

<h2>Treinos</h2>
<p-button routerLink="/treino/form/new" label="Adicionar Treino"></p-button>
<p-table [value]="treinoList" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome do treino</th>
      <th> </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-treino>
    <tr>
      <td>{{treino.nomeDoTreino}}</td>
      <td><p-button routerLink="/treino/form/detail/{{treino.id}}" label="Editar"></p-button></td>
    </tr>
  </ng-template>
</p-table>
